.container{
    width: 500px;
    height: 700px;
    background: #FFFFFF;
    padding: 20px 36px 0px 36px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
}

.title{
   font-weight: 500;
   font-size: 18px;
   color:  #212121;
}

.contentContainer{
    margin-top: 60px;
}

.creatorBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.createdBy{
    font-weight: 400;
    font-size: 12px;
    color: #6B6B6B;
    margin-right: 36px;
}

.creator{
    font-weight: 500;
    font-size: 14px;
    color: #6B6B6B;
}

.descriptionBox{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.description{
    margin: 10px 0px 0px 5px;
    border: none;
    outline: none;
    width: 80%;
    font-size: 12px;
    font-weight: 400;
    color: #212121;
    resize: none;
    display:block;
}

.closeButton{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}